header {
  overflow: hidden;
}

.hero {
  background: url("images/gueto_hero.jpg") no-repeat;
  background-size: cover;
  height: 220px;
}

.image-overlay {
  height: 220px;
  background-color: rgba(0, 0, 0, 0.5);
}

.text {
  height: 220px;
}

.title {
  font-family: "stencil-std", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.container-bg {
  background-color: #383838;
  height: 1800px;
}

.class-card {
  height: 183px;
}

.icones {
  width: 100px;
  height: 100px;
}

.gueto-background {
  background-image: url("images/logo.png");
  box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.9);
  background-size: cover;
  background-position: center;
  /* height: 1800px; */
}

.custom-card {
  /* width: 355px; */
  height: 249px;
}

.price-card h5 {
  font-size: 32px;
}

.price {
  font-size: 48px;
}

.mensal {
  color: #D92419;
  font-size: 24px;
}

.divider {
  border-top: 3px solid #fff;
  width: 200px;
  margin: 60px auto;
}

.timetable {
  height: 500px;
}

.footer {
  background-image: url("images/logo.png");
  box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.9);
  background-size: cover;
  /* background-position: center; */
  font-weight: bold;
  height: 380px;
}


.social-media {
  display: flex;
  gap: 22px;
}

.footer h2 {
  font-size: 32px;
}

.footer h3 {
  font-size: 24px;
}

.tel p {
  font-size: 16px;
}

.social-media li {
  list-style-type: none;
  width: 60px;
  height: 60px;
  border: #fff solid 2px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Timetable */


/* End timetable */

.footer-developer {
  height: 100px;
}