header {
  overflow: hidden;
}

.hero {
  background: url("images/gueto_hero.jpg") no-repeat;
  background-size: cover;
  height: 220px;
}

.image-overlay {
  height: 220px;
  background-color: rgba(0, 0, 0, 0.5);
}

.text {
  height: 220px;
}

.title {
  font-family: "stencil-std", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* .coach img {
  width: 70%;
  height: 70%;
  margin: 0 auto;
} */

.services {
  background-color: #383838;
}

.icones {
  width: 100px;
  height: 100px;
}

.custom-card {
  /* width: 355px; */
  height: 249px;
}

.price-card h5 {
  font-size: 32px;
}

.price {
  font-size: 48px;
}

.mensal {
  color: #D92419;
  font-size: 24px;
}